.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  padding: 2vw;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.login-input-group {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.App-input {
  color: whitesmoke;
  text-align: center;
  padding: 0.5vw;
  border: 2px ridge goldenrod;
  border-radius: 5px;
  background-color: #33373a;
  margin: 0.5vw;
  width: 38vw;
  max-width: 195px;
}


.App-input::placeholder {
  color: navajowhite;
  text-align: center;
  opacity: 50;
  font-size: 0.8rem;
  font-style: italic;
}

.login-button {
  display: inline-flex;
  justify-content: center;
  border-radius: 6px;
  padding: 0.5vw;
  border: none;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 75%;
  font-family: "Script MT Bold";
  margin-bottom: 1vh;
  margin-top: 2vh;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 30vh;
  max-width: 275px;
}

.login-button:hover {
  background-color: goldenrod;
  justify-content: center;
  color: black;
}

.signup-link {
  display: flex;
  justify-content: center;
}

.App-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  padding: 5%;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, transparent, goldenrod, transparent) 1 100%;
  border-image-slice: 1;
  font-style: italic;
  border-radius: 4px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 75%;
  font-family: "Book Antiqua";
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin-bottom: 2vh;
  width: 18vh;
  max-width: 165px;
  overflow: hidden;
}

.App-button:hover {
  background-color: goldenrod;
  justify-content: center;
  color: black;
}


.signup-section {
  margin-top: 30px;
}

.signup-section p {
  text-align: center;
  font-size: 75%;
  color: #33;
  font-family: "High Tower Text";
  font-weight: normal;
  font-style: italic;
  margin-bottom: 2vh;
  margin-top: -2rem;
}

.signup-section .centered {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login-image {
  width: 35vh;
  margin-bottom: 1vh;
  opacity: 1;
  animation: rotateBack 14s;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  transition-duration: 3s;
  filter: blur(0);
  margin-top: 2vh;
  overflow: hidden;
}

.login-image.fade-in {
  opacity: 1;
}

.login-image:hover {
  filter: blur(10px);
}

.login-image:hover::before {
  opacity: 1;
}

.login-image::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  transition-duration: 5s;
  opacity: 0;
}

@keyframes rotateBack {
  0% {
    opacity: 0;
    transform: rotateX(180deg) rotateY(0deg) rotateZ(360deg) scale(0.1);
    perspective: 25px;
    filter: blur(25px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
    perspective: 0px;
  }
}

.error-message {
  display: inline-flex;
  color: red;
  animation: fadeout 1s;
  font-size: 45%;
  opacity: 0.99;
  margin-top: -1px;
  margin-bottom: -10px;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.register-image {
  width: 12vh;
  object-fit: contain;
  margin-top: -2vh;
  transition: transform 3s ease, opacity 0s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
}

.register-image:hover {
  transform: rotateX(-10deg) rotateY(10deg);
}

.register-image.animate {
  transform: rotateX(-10deg) rotateY(10deg);
  transition: transform 0.5s ease;
}


.register-image1, .register-image2 {
  width: 60vh;
  object-fit: contain;
}

.register-image1 {
  max-width: 425px;
  max-height: 150px;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.register-image2 {
  max-width: 425px;
  max-height: 200px;
  margin-top: 1vh;
  margin-bottom: -2vh;
}

.register-input {
  padding: 5px;
  border-width: 2px;
  border: 3px ridge goldenrod;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  font-style: italic;
  width: 45vh;
  max-width: 275px;
  background-color: #33373a;
  text-align: center;
}

.register-input:not(:last-child) {
  margin-bottom: 10px;
}

.register-input::placeholder {
    font-size: 85%;
    text-align: center;
}

.register-input:focus {
  border-color: goldenrod;
  outline: none;
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
}


.button-container {
  display: flex;
}

.register-button,
.exit-button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-family: "Book Antiqua";
  font-size: 65%;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-right: 9px;
  margin-top: 5vh;
  width: 23vh;
  max-width: 175px;
}


.register-button:hover,
.exit-button:hover {
  background-color: gold;
  color: black;
}


.error-message-reg {
  color: red;
  font-size: 13px;
  margin-top: -90px;
}


.register-heading {
  position: relative;
  font-size: 6vh;
  font-weight: lighter;
  font-family: "Lucida Calligraphy";
  font-style: italic;
  color: #fff;
  margin: 1vh;
}

.exit-button:hover {
  background-color: red;
  color: white;
}


.login-image1 {
  width: 35vh;
  max-width: 500px;
  transform: scaleY(-1);
  margin-top: -0.5vh;
  margin-bottom: -0.5vh;
}

h2.glow-text {
  margin: 0.2vw;
  font-family: 'Benne', serif;
  color: oldlace;
  text-shadow: 0 0 1px #FFD700, 0 0 9px #FFD700, 0 12 9px #FFD700, 0 0 12px #FFD700;
  animation: glow 8s alternate infinite, fadeIn 2s ease-out;
  animation-delay: 10s, 11s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  opacity: 0;
  font-size: 7vh;
  font-weight: bold;
  margin-top: 2vh;
}

@keyframes glow {
  0% { text-shadow: 0 0 0px navajowhite, 0 0 6px #FFD700, 0 0 9px #FFD700, 0 0 12px darkgoldenrod; }
  50% { text-shadow: 0 0 6px darkgoldenrod, 0 0 15px goldenrod, 0 0 6px darkgoldenrod, 0 0 6px #FFD700, 0 0 25px #FFD700; }
  100% { text-shadow: 0 0 0px darkgoldenrod, 0 0 6px darkgoldenrod, 0 0 9px goldenrod, 0 0 12px navajowhite; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h3.glow-text {
  margin: 0.2vw;
  font-family: 'Benne', serif;
  font-weight: bold;
  color: oldlace;
  text-shadow: 0 0 1px #FFD700, 0 0 9px #FFD700, 0 12 9px #FFD700, 0 0 12px #FFD700;
  animation: glow 8s alternate infinite, fadeIn 2s ease-out;
  animation-delay: 11s, 12s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  opacity: 0;
  font-size: 5vh;
}

@keyframes glow {
  0% { text-shadow: 0 0 0px navajowhite, 0 0 6px #FFD700, 0 0 9px #FFD700, 0 0 12px darkgoldenrod; }
  50% { text-shadow: 0 0 6px darkgoldenrod, 0 0 15px goldenrod, 0 0 6px darkgoldenrod, 0 0 6px #FFD700, 0 0 25px #FFD700; }
  100% { text-shadow: 0 0 0px darkgoldenrod, 0 0 6px darkgoldenrod, 0 0 9px goldenrod, 0 0 12px navajowhite; }
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  overflow: hidden;
}

.menu-title {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  color: goldenrod;
  font-family: "Lucida Calligraphy";
  font-style: italic;
  font-size: 25px;
  margin-top: 1.5rem;
  margin-left: 87px;
  z-index: 2;
}



.menu-container {
  background-color: #282c34;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  z-index: -2;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
  margin-top: 15vh;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
}

.menu-button,
.menu-button-logout {
  padding: 1.1vh 16px;
  border: wave;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Book Antiqua";
  margin-bottom: 15px;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
  z-index: 2;
}

.menu-button-logout {
  padding: 1vh 15px;
  margin-top: 4vh;
}

@keyframes fadeIn {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1;
  }
}


.menu-button:hover {
  background-color: gold;
  color: black;
}

.menu-button-logout:hover {
  background-color: indianred;
  color: black;
}

.close-button {
  position: sticky;
  padding: 2px;
  top: 1px;
  left: 200rem;
  color: crimson;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #33373a;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-top: -2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  /* Add more styling properties as needed */
}

.image-area {
  flex: 1;
  background-color: #33373a;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align items at the start of the container */
  align-items: center; /* Center items horizontally */
  height: 90vh;
  border: ridge;
  border-color: goldenrod;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-right: 2.5rem;
  margin-left: 0.3rem;
  margin-top: 2vh;
  overflow-y: auto; /* Add a vertical scroll bar */
  overflow-x: hidden; /* Hide horizontal overflow */
  z-index: 2;
}

.image-area img {
  width: 100%; /* Let the width adjust automatically */
  height: auto; /* Let the height adjust automatically */
  max-width: 200%; /* Limit the width to the container's width */
  max-height: 200%; /* Limit the height to the container's height */
  object-fit: contain;
  z-index: 2;
}


.register-image3 {
  display: inline-flex;
  position: absolute;
  z-index: -1;
  opacity: 7%;
  width: 70%;
  max-width: 1300px;
  animation: spin 200s linear infinite;
  overflow: hidden;
  background: linear-gradient(to top, transparent 80%, rgba(0, 0, 0, 0.1));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-image {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  max-width: 177px;
  max-height: 95vh;
  margin-left: 2.5rem;
  min-width: 177px;
  min-height: 290px;
  animation: slideIn 2.5s forwards;
  animation-delay: -0.7s;
  z-index: 1;
}

@keyframes slideIn {
  0% {
    transform: translateY(-150%); /* Start from above the container */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Move down to the original position */
    opacity: 1;
  }
}

.image-area h2 {
  color: goldenrod;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.image-area p {
  display: inline-flex;
  text-align: center;
  color: navajowhite;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  z-index: 2;
  }

.menu-image {
  width: 100vh;
  height: auto;
  position: fixed;
  animation: spin 200s linear infinite;
  top: 48vh;
  z-index: 0;
  margin-left: -50vh;
  padding: 2vh;

}

.menu-image2 {
  width: 45%;
  height: auto;
  position: fixed;
  animation: spin 200s linear infinite;
  z-index: 0;
  top: -5vw;
  margin-left: 76vw;
  padding: 1vh;

}

.lobby {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
}

h2 {
  color: goldenrod;
  font-size: 2rem;
}

.lobby-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.lobby-table th, .lobby-table td {
  border: 1px solid #ddd;
  padding: 8px;
  color: goldenrod;
}

.lobby-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #33373a;
}

.lobby-table tr:hover {background-color: #111;}

button {
  padding: 1vh 15px;
  border: none;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Book Antiqua";
  margin-top: 15px;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: gold;
  color: black;
}

button[disabled] {
  background-color: #555;
  cursor: not-allowed;
}

.lobbyButtonExit {
  padding: 1vh;
  border: none;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Book Antiqua";
  margin-top: 15px;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.lobbyButtonExit:hover {
  background-color: indianred;
  color: black;
}