@media (max-width: 550px) {
    .register-image {
        width: 12vh;
        object-fit: contain;
        transition: transform 3s ease, opacity 0s ease;
        perspective: 1000px;
        transform-style: preserve-3d;
        transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
        margin-top: -15vh;
    }
}

@media (max-width: 550px) {
    .register-button,
    .exit-button {
        display: inline-flex;
        position: relative;
        justify-content: center;
        padding: 15px;
        border: none;
        border-radius: 5px;
        color: goldenrod;
        background-color: #282c34;
        cursor: pointer;
        font-family: "Book Antiqua";
        font-size: 100%;
        transition-duration: 0.85s;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        margin-right: 9px;
        margin-top: 5vh;
        width: 23vh;
        max-width: 175px;
    }
}

@media (max-width: 550px) {
    .login-image {
        width: 29vh;
        margin-bottom: 1vh;
        opacity: 1;
        animation: rotateBack 12s;
        animation-fill-mode: forwards;
        transform-style: preserve-3d;
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transition-duration: 3s;
        filter: blur(0);;
        margin-top: -13vh;
        z-index: 3;
    }

    .login-image.fade-in {
        opacity: 0;
    }

    .login-image:hover {
        filter: blur(10px);
    }

    .login-image:hover::before {
        opacity: 1;
    }

    .login-image::before {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        pointer-events: none;
        transition-duration: 5s;
        opacity: 0;
    }

    @keyframes rotateBack {
        0% {
            opacity: 0;
            transform: rotateX(180deg) rotateY(0deg) rotateZ(360deg) scale(0.1);
            perspective: 25px;
            filter: blur(2px);
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
            perspective: 0px;
        }
    }
}

@media (max-width: 580px) {
    .login-button {
        display: inline-flex;
        justify-content: center;
        border-radius: 6px;
        padding: 2vw;
        border: none;
        color: goldenrod;
        background-color: #282c34;
        cursor: pointer;
        font-size: 75%;
        font-family: "Script MT Bold";
        margin-bottom: 1vh;
        margin-top: 2vh;
        transition-duration: 0.85s;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        width: 27vh;
        max-width: 350px;
    }

    .App-button {
        display: inline-flex;
        justify-content: space-evenly;
        padding: 0.8vh;
        border: 2px solid transparent;
        border-image: linear-gradient(to right, transparent, goldenrod, transparent) 1 100%;
        border-image-slice: 1;
        font-style: italic;
        border-radius: 4px;
        color: goldenrod;
        background-color: #282c34;
        cursor: pointer;
        font-size: 2vh;
        font-family: "Book Antiqua";
        transition-duration: 0.85s;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        margin-bottom: 2vh;
        margin-left: 0.5rem;
        width: 17vh;
    }

    .signup-section p {
        font-size: 75%;
        color: #33;
        font-family: "High Tower Text";
        font-weight: normal;
        margin-left: 0.5rem;
    }

}

@media (max-width: 550px) {
    .menu-title {
        display: inline-flex;
        position: absolute;
        justify-content: center;
        color: goldenrod;
        font-family: "Lucida Calligraphy";
        font-style: italic;
        font-size: 25px;
        margin-top: 1.5rem;
        margin-left: -5px;
        z-index: 2;
    }

    .menu-container {
        background-color: #282c34;
        display: inline-flex;
        position: relative;
        justify-content: center;
        z-index: 1;
        width: 100%;
        height: aut;
    }

    .menu {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 35vh;
        margin-left: 2.3rem;
        margin-right: 2.3rem;
        height: 15vh;
    }

    .menu-button,
    .menu-button-logout {
        padding: 2vh 25px;
        border: none;
        border-radius: 5px;
        color: goldenrod;
        background-color: #282c34;
        cursor: pointer;
        font-size: 1rem;
        font-family: "Book Antiqua";
        margin-bottom: 20px;
        transition-duration: 0.85s;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        opacity: 0;
        animation: fadeIn 2s forwards;
        animation-delay: 1s;
    }

    .menu-button-logout {
        padding: 1.5vh 20px;
        margin-top: 4rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0.0;
        }
        to {
            opacity: 1;
        }
    }


    .menu-button:hover {
        background-color: gold;
        color: black;
    }

    .image-area {
        display: none;
        flex: 1;
        background-color: navajowhite;
        position: fixed;
        justify-content: center;
        height: 84vh;
        width: auto;
        border: ridge;
        border-color: goldenrod;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        z-index: 2;
        margin-right: 0rem;
        margin-top: 0rem;
    }

    .register-image3 {
        display: inline-flex;
        position: absolute;
        z-index: -1;
        opacity: 7%;
        width: 70%;
        max-width: 1300px;
        animation: spin 200s linear infinite;
        overflow: hidden;
        background: linear-gradient(to top, transparent 80%, rgba(0, 0, 0, 0.1));
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .banner-image {
        display: inline-flex;
        position: absolute;
        justify-content: center;
        height: 0;
        margin-left: 0rem;
        min-width: 175px;
        min-height: 85%;
        animation: slideIn 2s forwards;
        animation-delay: -0.3s;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(-150%); /* Start from above the container */
            opacity: 0;
        }
        100% {
            transform: translateY(0); /* Move down to the original position */
            opacity: 1;
        }
    }

    .menu-image2 {
        width: 100%;
        height: auto;
        position: fixed;
        animation: spin 200s linear infinite;
        z-index: 0;
        top: -145px;
        margin-left: 100vw;
        padding: 1vh;

    }
}

@media (max-height: 500px) {
    .menu-image {
        width: 15vh%;
        height: auto;
        position: fixed;
        animation: spin 200s linear infinite;
        z-index: 0;
        top: 3vw;
        margin-left: -300px;
        padding: 20%;

    }
}

@media (max-width: 550px) {
    h3.glow-text {
  margin: 0.2vw;
  font-family: 'Benne', serif;
  font-weight: bold;
  color: oldlace;
  text-shadow: 0 0 1px #FFD700, 0 0 9px #FFD700, 0 12 9px #FFD700, 0 0 12px #FFD700;
  animation: glow 8s alternate infinite, fadeIn 2s ease-out;
  animation-delay: 11s, 12s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  opacity: 0;
  font-size: 5vh;
  margin-top: 1vh;
}
}