@media (max-height: 1080px) {
  .login-image {
    animation: rotateBack 13s;
    filter: blur(0);
    height: auto;
    margin-bottom: 25px;
    opacity: 1;
    perspective: 1500px;
    position: relative;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform-style: preserve-3d;
    transition-duration: 3s;
    width: 25vw;
    z-index: 2;
  }
}

@media (max-width: 550px) {
  .login-image {
    animation: rotateBack 13s;
    filter: blur(0);
    height: auto;
    margin-bottom: 4vw;
    opacity: 1;
    perspective: 1500px;
    position: relative;
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform-style: preserve-3d;
    transition-duration: 3s;
    width: 50%;
    z-index: 3;
  }

  .login-image.fade-in {
    animation: fadeIn 2s;
    opacity: 1;
  }

  .login-image.fade-out {
    animation: fadeOut 2s;
    opacity: 0;
  }

  .login-image:hover {
    filter: blur(10px);
  }

  .login-image:hover::before {
    opacity: 1;
  }

  .login-image::before {
    background: rgba(0, 0, 0, 0.2);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: relative;
    top: 0;
    transition-duration: 5s;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 550px) {
  .register-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    max-width: 100px; /* Set a maximum width if desired */
    max-height: 150px; /* Set a maximum height if desired */
    object-fit: contain; /* Adjust the object-fit property as needed */
    margin-bottom: -10px; /* Adjust the margin as needed */
    transition: transform 3s ease, opacity 0s ease; /* Combine the transitions */

    /* Tilt animation styles */
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }

  .register-image:hover {
    transform: rotateX(-10deg) rotateY(10deg);
  }

  .register-image.animate {
    transform: rotateX(-10deg) rotateY(10deg);
    transition: transform 0.5s ease;
  }
}

@media (max-width: 550px){
  .login-button {
    padding: 2vw;
    border: 2px;
    border-radius: 4px;
    color: goldenrod;
    background-color: #282c34;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Script MT Bold";
    margin: 7vw;
    transition-duration: 0.85s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 40%;
  }
}


@media (max-width: 550px) {
  .App-input {
    color: navajowhite;
    padding: 6px;
    border: 2px ridge goldenrod;
    border-radius: 5px;
    background-color: #33373a;
    margin-bottom: 5%; /* Adjusted to viewport width */
    text-align: center;
    width: 35vw;
  }
}

/* The media query for screens smaller than 600px */
@media (max-width: 550px) {
  .register-image1,
  .register-image2 {
    max-width: 85vw;
    max-height: auto;
  }

  .register-input-container {
    margin-bottom: 15px;
    margin-left: -15px;
  }

  .register-input {
    padding: 5px;
    border-width: 2px;
    font-size: 16px;
  }

  .register-input::placeholder {
    font-size: 15px;
  }

  .signup-section p {
  font-size: 15px;
  color: #33;
  font-family: "High Tower Text";
  font-weight: normal;
  margin-top: -2vh;
}

  .App-button {
  padding: 2vw;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Script MT Bold";
  font-style: italic;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 60%;  /* Fill the available width */
  height: auto;
  margin-top: -3vh;
}

  .exit-button {display: inline-block;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: goldenrod;
  background-color: #282c34;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Book Antiqua";
  margin-top: 19.5px;
  margin-left: 95px;
  transition-duration: 0.85s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  max-width: 25%;
  }

  .error-message-reg {
    font-size: 11px;
    margin-top: -50px;
  }

  .register-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .specific-lobby-header {
    font-size: 1.5rem;
  }

  .specific-lobby-users p {
    font-size: 1rem;
  }

  .login-image1 {
    max-width: 70vw;
    margin: -7vw;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 550px) {
  .login-input-group {
    flex-direction: row;
    margin-bottom: -70px;
  }
}

@media (max-width: 550px) {
  h2.glow-text {
    margin: 0.2vw;
    font-family: "High Tower Text";
    color: oldlace;
    text-shadow: 0 0 1px #FFD700, 0 0 9px #FFD700, 0 12 9px #FFD700, 0 0 12px #FFD700;
    animation: glow 8s alternate infinite, fadeIn 2s ease-out;
    animation-delay: 10s, 11s;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, forwards;
    opacity: 0;
    font-size: 5vh;
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 0px navajowhite, 0 0 6px #FFD700, 0 0 9px #FFD700, 0 0 12px darkgoldenrod;
    }
    50% {
      text-shadow: 0 0 6px darkgoldenrod, 0 0 15px goldenrod, 0 0 6px darkgoldenrod, 0 0 6px #FFD700, 0 0 25px #FFD700;
    }
    100% {
      text-shadow: 0 0 0px darkgoldenrod, 0 0 6px darkgoldenrod, 0 0 9px goldenrod, 0 0 12px navajowhite;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 550px) {
  h3.glow-text {
    margin: 0.2vw;
    font-family: "High Tower Text";
    color: oldlace;
    text-shadow: 0 0 1px #FFD700, 0 0 9px #FFD700, 0 12 9px #FFD700, 0 0 12px #FFD700;
    animation: glow 8s alternate infinite, fadeIn 2s ease-out;
    animation-delay: 11s, 12s;
    animation-iteration-count: infinite, 1;
    animation-fill-mode: none, forwards;
    opacity: 0;
    font-size: 4.2vh;
    margin-bottom: -2vh;
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 0px navajowhite, 0 0 6px #FFD700, 0 0 9px #FFD700, 0 0 12px darkgoldenrod;
    }
    50% {
      text-shadow: 0 0 6px darkgoldenrod, 0 0 15px goldenrod, 0 0 6px darkgoldenrod, 0 0 6px #FFD700, 0 0 25px #FFD700;
    }
    100% {
      text-shadow: 0 0 0px darkgoldenrod, 0 0 6px darkgoldenrod, 0 0 9px goldenrod, 0 0 12px navajowhite;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

